<link rel="stylesheet" href="/css/header.css">
<header class="navHeader">
    <a href="/issueTracker" class="display-6 headerSpan"><i class="bi bi-house-door"></i> Issue Tracker</a>
    <a href="/issueTracker/projectDetails" class="btn btn-light mx-5" style="color: purple">Project Details</a>
</header>